/* HIER KOMT JOUW CSS */

/* het idee van het draadje */
@font-face {
  font-family: "Miss Fajardose";
  src: url(../type/MissFajardose-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Edu SA";
  src: url(../type/EduSA.ttf);
  font-weight: 400;
  font-style: normal;
}
main {
  /* max-width: 30em; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 3em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-block: var(--whitespace-s);
}

body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  background-color: #f7e4f7;
}

h1 {
  font-family: "Miss Fajardose", sans-serif;
  color: black;
  font-weight: 120;
  font-size: 100px;
}

h2 {
  font-family: "Edu SA", sans-serif;
  color: black;
  font-weight: 100;
  font-size: 40px;
}

p {
  color: black;
  font-weight: 30;
  font-size: 12px;
}
